<div class="Sellers">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="translateButttons">
  <button type="button" value="English" style="margin-top: 20px;" ng-click="changeLanguage('en')" >
      <span translate="sellers.EnglishButton" />
  </button>
  <button type="button" value="Íslenska" style="margin-top: 20px;" ng-click="changeLanguage('is')">
      <span translate="sellers.IcelandicButton" />
  </button>
</div>

<br>
<div class="jumbotron">
<h1 translate="sellers.Title"></h1>
</div>
<br>

<table id="tableSellers" class="table table-bordered table-hover" style="margin-top: 10px;">
    <thead>
        <tr table-sort="name">
            <th data-columnName="name" translate="sellers.Name"></th>
            <th data-columnName="category" translate="sellers.Category"></th>
            <th translate="sellers.EditColumn"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="s in sellers | orderBy:predicate:reverse">
            <td>
                <img src="{{s.imagePath}}" class="img-rounded" height="50" width="50">
                <a ng-href="#/seller/{{s.id}}"> {{s.name}} </a>
            </td>
            <td class="categorySellers">{{s.category}}</td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="onEditSeller(s)">
                  <i class="fa fa-edit custom"></i>
                  <span translate="sellers.Edit" />
                </button>
            </td>
        </tr>
    </tbody>
    <tr></tr>
</table>

<button class="btn btn-primary" ng-click="onAddSeller()">
  <i class="fa fa-user-plus custom"></i>
  <span translate="sellers.Add" />
</button>

</div>
