.Sellers {

}

.seller-details {

	.profile{
		font-style:normal;
		width: 100%;
		text-align: center;

	#pix {
		height: 300px;
		width: 400px;
		margin: 0 auto;
	}

	}

	.products-tab {

		.buttonInsideFrame{
			 margin: auto;
			 width: 10%;
			 padding: 10px;
		}

		#buttton{
			margin: 0 auto;
			background-color: grey;
		}
	}

}
