.Sellers {
	/* TODO: add any Sellers-specific styles here! */
}

.seller-details {

	.profile{
		font-style:normal;
		width: 100%;
		text-align: center;

	}



	.products-tab {

		.buttonInsideFrame{
			 margin: auto;
			 width: 10%;
			 padding: 10px;
		}

		#buttton{
			margin: 0 auto;
			background-color: grey;
		}
	}

}
