<div class="seller-details">

  <button type="button" value="English" style="margin-top: 20px;" ng-click="changeLanguage('en')" >
      <span translate="sellers.EnglishButton" />
  </button>
  <button type="button" value="Íslenska" style="margin-top: 20px;" ng-click="changeLanguage('is')">
      <span translate="sellers.IcelandicButton" />
  </button>

  <label translate="seller-details.Search" style="float:right; margin-top: 20px; margin-left: 10px;"></label><input type="text" ng-model="searchBox" style="float:right; margin-top: 20px;">

  <br>
  <br>
<div class="jumbotron">
<div class="profile" style="align:center;">

    <div>
      <img id="pix" class="img-responsive" src= "{{seller.imagePath}}">
      <h2>{{seller.name}}</h2>
      <h3>{{seller.category}}</h3>
    </div>

</div>
</div>


<div ng-include src="'components/products-tab/productsTab.html'" ng-controller="ProductsTabController"></div>
</div>
