<h2 translate="seller-details.Name"></h2>
<body>

<div>
 <img class="Image" src= "{{seller.imagePath}}">
  <h2>{{seller.name}}</h2>
  <h2>{{seller.category}}</h2>
</div>

<button class="btn btn-primary" ng-click="onAddProduct()">
    <i class="fa fa-plus" />
    <span translate="seller-details.Add" />
</button>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"> <a data-toggle="tab" href=#home translate="seller-details.Tab1"></a></li>
    <li><a data-toggle="tab" href=#menu1 translate="seller-details.Tab2"></a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <table>
          <thead>
              <tr>
                  <th translate="seller-details.Name"></th>
                  <th translate="seller-details.Price"></th>
                  <th translate="seller-details.Edit"></th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="p in products">
                  <td>{{p.name}}</td>
                  <td>{{p.price}}</td>
                  <td>
                      <button type="button" class="btn btn-primary" ng-click="onEditProduct(p)" translate="seller-details.Edit"></button>
                  </td>
              </tr>
          </tbody>
          <tr></tr>
      </table>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Top 10</h3>
      <p>hér birtast top 10</p>
    </div>
  </div>

</div>

<button type="button" value="English" ng-click="changeLanguage('en')" >
    <span translate="sellers.EnglishButton" />
</button>
<button type="button" value="Íslenska" ng-click="changeLanguage('is')">
    <span translate="sellers.IcelandicButton" />
</button>

<div class="container-fluid" ng-repeat="p in products" >
  <h1>Hello World!</h1>
  <p>Resize the browser window to see the effect.</p>
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;">{{p.name}}</div>
  </div>
</div>

<div>
<table class="table table-bordered">
    <tr class="container-fluid" ng-repeat="p in products">
      <td class="col-sm-4" style="background-color:lavenderblush;">{{p.name}}</td>
    </tr>
</table>
  </div>
 <br>
 <br>

</body>
