<div class=products-tab>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="row tabs">

  <uib-tabset active="active">

    <uib-tab index="0" heading="{{'seller-details.Tab1' | translate}}">
      <uib-alert ng-repeat="alert in alerts" dismiss-on-timeout=6000 type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        <div class=buttonInsideFrame>
          <button id="addProdButton" class="btn btn-primary" style="margin-bottom: 20px" ng-click="onAddProduct()">
                <i class="fa fa-plus" />
              <span translate="seller-details.Add" />
          </button>
        </div>
    <product-item ng-repeat="product in products | filter:searchBox"></product>
    </uib-tab>

    <uib-tab index="1" heading="{{'seller-details.Tab2' | translate}}">
        <product-item ng-repeat="product in products | orderBy: '-quantitySold' | limitTo: 10 | filter:searchBox "></product>
    </uib-tab>

  </uib-tabset>

</div>
</div>
